@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
@await Html.PartialAsync("~/Views/Partials/HomeLayoutPartials/PartialHead.cshtml")
@await RenderSectionAsync("Css", required: false)
</head>

<body>
    <div class="tm-main-content" id="top">

            @await Html.PartialAsync("~/Views/Partials/HomeLayoutPartials/PartialNavbar.cshtml")

            @await Html.PartialAsync("~/Views/Partials/HomeLayoutPartials/PartialTicketQuery.cshtml")

                    

        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        @await Html.PartialAsync("~/Views/Partials/HomeLayoutPartials/PartialFooter.cshtml")

    </div>

    @await Html.PartialAsync("~/Views/Partials/HomeLayoutPartials/PartialScript.cshtml")
    @await RenderSectionAsync("Scripts", required: false)


</body>
</html>


